/* You can add global styles to this file, and also import other style files */
html, body, div, span,
h1, p, ul, li {
  margin: 0 0 1em 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
  font-family: 'Lucida Grande', Verdana, sans-serif;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ol, ul {
  list-style: none;
}

li {
  margin: 0;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 2em;
  cursor: pointer;
  vertical-align: bottom;
}

.btn:hover {
  background: lightslategrey;
}
